/* 美羽 */
.site-header-conts{
    width: 100%;
    padding: 1.2em 0;
    /* margin-right: 0; */
    /* margin-left: auto; */
}
.topimage{ 
    display:inline-block;
    width: 20%;
    height: 30%;
    margin-left: 0;
    margin-right: auto;
    border: 0;
    box-sizing: border-box;
    /* margin-bottom: 10px; */
    margin-top: 1em;
    vertical-align: text-bottom;
    list-style: none;
    margin: 0 5em 0 0 ;
}

.topmenu{
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    /* text-align: center; */
    
}

.header-list{
    display: inline-block;
    padding: 0 1.5em;
}
.topmenu li a{
    display: block;
    color: black;
    text-decoration: none;
}

.snsimage{
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    border: 0;
    vertical-align: text-bottom;
    box-sizing: border-box;
    list-style: none;
}
.snscontainer{
    /* display: inline-block; */
    /* margin-left: auto; */
    /* margin-right: 0; */
    position: absolute;
    top: 5%;
    right: 0;
    /* display: table-cell; */
    display: flex;
    vertical-align: top;
    text-align: right;
    box-sizing: border-box;

}
.site-header-in{
    display: block;
    margin: auto;
    width: 100%;
    border-bottom: 35px solid #BC1A29;
    height: 7em;
    box-sizing: border-box;
    background-color: #fff;
}
.submenu{
     margin: 0 12em;
     display: none;
     pointer-events: none;
}
.submenu li{
    display: inline-block;
    height: 7em;
    padding: 0 1em;
    /* display: none; */
   
}
.submenu li a{
    color: white;
    /* display: none; */
}


/* かしけん */
.slide {
    width: 100%;
    height: 520px;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: auto;
    top: 0;
    left: 0;
    position: absolute;

}

.top-topics {
    background-color: #F6EEE6;
    /* width: 80%; */
    /* text-align: center; */
    padding-top: 70px;
    padding-bottom: 50px;

}


.top-topics__container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.title-topics {
    margin: 0 auto;
    line-height: 1.2;
    font-size: 44px;
    text-align: center;
    font-weight: normal;
    font-family: "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

.kana-topics {
    font-size: 14px;
    text-align: center;
    display: block;

}

.top-topics__inner {
    margin-top: 45px;
    padding: 0;
    text-align: center;
    /* padding-left: 35px; */
}

.top-topics__inner a {
    max-width: 550px;
    display: inline-block;
}

.top-topcis__block {
    margin-bottom: 40px;    
    width: 50%;
}

.top-topcis__block div {
    display: inline-block;
}

.top-topcis__img {
    width: 49%;
}

.top-topcis__img img {
    max-width: 230px;
   
}

.top-topcis__txt-area {
    width: 45%;
    vertical-align: top;
    /* margin-left: 20px; */
    color: black;
    text-align: left;
}

.top-topcis__date {
    margin-top: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(56, 43, 32, 0.5);
    font-size: 18px;
    font-family: 'DIN Alternate',sans-serif;
}

.top-topcis__txt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.8em;
}

.banner-link {
    position: relative;
    font-size: 27px;
    color: #C32033;
    font-weight: bold;
    border: 3px solid #C32033;
    border-radius: 8px;
    max-width: 900px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 150px;
    text-decoration: none;
}

.banner-link:after {
    position: absolute;
    top: 50%;
    right: 34px;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid #C32033;
    border-right: 3px solid #C32033;
    content: "";
    transform: rotate(45deg)
}

.top-link {
    display: -webkit-flex;
    display: flex;
    margin: 40px auto 145px;
    padding: 0 20px;
    max-width: 940px;
}

.top-link a {
    display: inline-block;
    margin: 0 10px;
    width: 50%;
    height: 100px;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: center;
}
.top-link:first-of-type {
    margin-right: 20px;
}
a:-webkit-any-link {
    text-decoration: none;
}
.top-link__block--red {
    background-color: #C32033;
}
.top-link__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: center;
}
.top-link__img {
    width: 34%;
}
.imgdefault {
    width: 100px;
    height: 50px;
}
.top-link__txt-s {
    margin: 0;
    padding-left: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none !important;
}
.top-link__block--brown {
    background-color: #392B1F;
}
.top-link__txt {
    margin: 0;
    padding-left: 75px;
    color: white;
    font-size: 24px;
    text-decoration: none !important;
}

/* みれい */
.wrap-footer{
    width: 100%;
    background-color: #EAE9E8;
}
.list-footer{
    text-align: center;
    margin: 16px auto;
}
.section-footer{
    text-align: left;
    /* 箱を作って横並べ */
    display: inline-block;
    vertical-align: top;
    padding-top: 80px;
}
.section-footer li{
    /* ・を非表示 */
    list-style-type: none;
}
.listlink-footer{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.sublink-footer{
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: inline-block;
}
.hurantyaizu{
    width: 150px;
    text-align: left;
}
.logo-footer{
    text-align: center;
    padding-left: 50px;
}
.policy-footer{
    text-align: center;
    padding-top: 40px;
    padding-left: 100px;
    border-bottom: 1px solid black;
    /* border-bottom-width: 80%; */
    margin: 0 320px;
}
.subpolicy-footer{
    display: inline-block;
    list-style-type: none;
    color: black;
    padding-bottom: 10px;
}
.copy-footer{
    text-align: center;
    font-size: 12px;
    padding-bottom: 50px;
    padding-left: 50px;
}
/* 下に余白ができてしまうのは、全体に上下0をかければよい？ */